.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url('/hero.gif');
    width: 100vw;
    aspect-ratio: 2.06 / 1;
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text{
    display: flex;
    color: white;
    width:77vw;
    flex-direction: column;
    gap:2vw;
}

.para{
    display: flex;
    flex-direction: column;
    font-size: 2.3vw;
    gap: 3vw;
}

.heading{
    font-size: 2vw;
}

.buttons{
    font-size: 2.3vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    font-weight: bold;
}

.button1{
    background-color: #0A5125;
    padding: 0.5vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.button2{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    color: black;
    background-color: white;
    padding: 0.5vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.image{
    display: flex;
    position: relative;
    object-fit: contain;
    width: 2.3vw;
    height: 2.3vw;
    padding: 0.5vw;
}

@media screen and (max-width: 640px) {
    .container{
        display: none;
    }
}